*.pyc
venv/
May_2024_Excentus.xlsx
May_Vendor_Funded_Discounts.xlsx


venv/Lib/site-packages/numpy-1.26.4-cp312-cp312-win_amd64.whl
venv/Lib/site-packages/six.py
venv/Lib/site-packages/__pycache__/six.cpython-312.pyc
venv/Lib/site-packages/dateutil/__init__.py
venv/Lib/site-packages/dateutil/_common.py
venv/Lib/site-packages/dateutil/_version.py
venv/Lib/site-packages/dateutil/easter.py
venv/Lib/site-packages/dateutil/relativedelta.py
venv/Lib/site-packages/dateutil/rrule.py
venv/Lib/site-packages/dateutil/tzwin.py
venv/Lib/site-packages/dateutil/utils.py
venv/Lib/site-packages/dateutil/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/dateutil/__pycache__/_common.cpython-312.pyc
venv/Lib/site-packages/dateutil/__pycache__/easter.cpython-312.pyc
venv/Lib/site-packages/dateutil/__pycache__/_version.cpython-312.pyc
venv/Lib/site-packages/dateutil/__pycache__/relativedelta.cpython-312.pyc
venv/Lib/site-packages/dateutil/__pycache__/rrule.cpython-312.pyc
venv/Lib/site-packages/dateutil/__pycache__/tzwin.cpython-312.pyc
venv/Lib/site-packages/dateutil/__pycache__/utils.cpython-312.pyc
venv/Lib/site-packages/dateutil/parser/__init__.py
venv/Lib/site-packages/dateutil/parser/_parser.py
venv/Lib/site-packages/dateutil/parser/isoparser.py
venv/Lib/site-packages/dateutil/parser/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/dateutil/parser/__pycache__/_parser.cpython-312.pyc
venv/Lib/site-packages/dateutil/parser/__pycache__/isoparser.cpython-312.pyc
venv/Lib/site-packages/dateutil/tz/__init__.py
venv/Lib/site-packages/dateutil/tz/_common.py
venv/Lib/site-packages/dateutil/tz/_factories.py
venv/Lib/site-packages/dateutil/tz/tz.py
venv/Lib/site-packages/dateutil/tz/win.py
venv/Lib/site-packages/dateutil/tz/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/dateutil/tz/__pycache__/_common.cpython-312.pyc
venv/Lib/site-packages/dateutil/tz/__pycache__/_factories.cpython-312.pyc
venv/Lib/site-packages/dateutil/tz/__pycache__/tz.cpython-312.pyc
venv/Lib/site-packages/dateutil/tz/__pycache__/win.cpython-312.pyc
venv/Lib/site-packages/dateutil/zoneinfo/__init__.py
venv/Lib/site-packages/dateutil/zoneinfo/dateutil-zoneinfo.tar.gz
venv/Lib/site-packages/dateutil/zoneinfo/rebuild.py
venv/Lib/site-packages/dateutil/zoneinfo/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/dateutil/zoneinfo/__pycache__/rebuild.cpython-312.pyc
venv/Lib/site-packages/et_xmlfile/xmlfile.py
venv/Lib/site-packages/et_xmlfile/__init__.py
venv/Lib/site-packages/et_xmlfile/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/et_xmlfile/__pycache__/xmlfile.cpython-312.pyc
venv/Lib/site-packages/et_xmlfile-1.1.0.dist-info/AUTHORS.txt
venv/Lib/site-packages/et_xmlfile-1.1.0.dist-info/INSTALLER
venv/Lib/site-packages/et_xmlfile-1.1.0.dist-info/LICENCE.rst
venv/Lib/site-packages/et_xmlfile-1.1.0.dist-info/METADATA
venv/Lib/site-packages/et_xmlfile-1.1.0.dist-info/RECORD
venv/Lib/site-packages/et_xmlfile-1.1.0.dist-info/top_level.txt
venv/Lib/site-packages/et_xmlfile-1.1.0.dist-info/WHEEL
venv/Lib/site-packages/numpy/__config__.py
venv/Lib/site-packages/numpy/__init__.cython-30.pxd
venv/Lib/site-packages/numpy/__init__.pxd
venv/Lib/site-packages/numpy/__init__.py
venv/Lib/site-packages/numpy/__init__.pyi
venv/Lib/site-packages/numpy/_distributor_init.py
venv/Lib/site-packages/numpy/_globals.py
venv/Lib/site-packages/numpy/_pytesttester.py
venv/Lib/site-packages/numpy/_pytesttester.pyi
venv/Lib/site-packages/numpy/conftest.py
venv/Lib/site-packages/numpy/ctypeslib.py
venv/Lib/site-packages/numpy/ctypeslib.pyi
venv/Lib/site-packages/numpy/dtypes.py
venv/Lib/site-packages/numpy/dtypes.pyi
venv/Lib/site-packages/numpy/exceptions.py
venv/Lib/site-packages/numpy/exceptions.pyi
venv/Lib/site-packages/numpy/matlib.py
venv/Lib/site-packages/numpy/py.typed
venv/Lib/site-packages/numpy/version.py
venv/Lib/site-packages/numpy/__pycache__/__config__.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/_distributor_init.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/_pytesttester.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/_globals.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/conftest.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/dtypes.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/ctypeslib.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/matlib.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/exceptions.cpython-312.pyc
venv/Lib/site-packages/numpy/__pycache__/version.cpython-312.pyc
venv/Lib/site-packages/numpy/_core/__init__.py
venv/Lib/site-packages/numpy/_core/__init__.pyi
venv/Lib/site-packages/numpy/_core/_dtype_ctypes.py
venv/Lib/site-packages/numpy/_core/_dtype.py
venv/Lib/site-packages/numpy/_core/_internal.py
venv/Lib/site-packages/numpy/_core/_multiarray_umath.py
venv/Lib/site-packages/numpy/_core/multiarray.py
venv/Lib/site-packages/numpy/_core/umath.py
venv/Lib/site-packages/numpy/_core/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/numpy/_core/__pycache__/_dtype_ctypes.cpython-312.pyc
venv/Lib/site-packages/numpy/_core/__pycache__/_dtype.cpython-312.pyc
venv/Lib/site-packages/numpy/_core/__pycache__/_internal.cpython-312.pyc
venv/Lib/site-packages/numpy/_core/__pycache__/_multiarray_umath.cpython-312.pyc
venv/Lib/site-packages/numpy/_core/__pycache__/multiarray.cpython-312.pyc
venv/Lib/site-packages/numpy/_core/__pycache__/umath.cpython-312.pyc
venv/Lib/site-packages/numpy/_pyinstaller/__init__.py
venv/Lib/site-packages/numpy/_pyinstaller/hook-numpy.py
venv/Lib/site-packages/numpy/_pyinstaller/pyinstaller-smoke.py
venv/Lib/site-packages/numpy/_pyinstaller/test_pyinstaller.py
venv/Lib/site-packages/numpy/_pyinstaller/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/numpy/_pyinstaller/__pycache__/hook-numpy.cpython-312.pyc
venv/Lib/site-packages/numpy/_pyinstaller/__pycache__/pyinstaller-smoke.cpython-312.pyc
venv/Lib/site-packages/numpy/_pyinstaller/__pycache__/test_pyinstaller.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__init__.py
venv/Lib/site-packages/numpy/_typing/_add_docstring.py
venv/Lib/site-packages/numpy/_typing/_array_like.py
venv/Lib/site-packages/numpy/_typing/_callable.pyi
venv/Lib/site-packages/numpy/_typing/_char_codes.py
venv/Lib/site-packages/numpy/_typing/_dtype_like.py
venv/Lib/site-packages/numpy/_typing/_extended_precision.py
venv/Lib/site-packages/numpy/_typing/_nbit.py
venv/Lib/site-packages/numpy/_typing/_nested_sequence.py
venv/Lib/site-packages/numpy/_typing/_scalars.py
venv/Lib/site-packages/numpy/_typing/_shape.py
venv/Lib/site-packages/numpy/_typing/_ufunc.pyi
venv/Lib/site-packages/numpy/_typing/setup.py
venv/Lib/site-packages/numpy/_typing/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/_add_docstring.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/_array_like.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/_char_codes.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/_dtype_like.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/_extended_precision.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/_nbit.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/_nested_sequence.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/_scalars.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/_shape.cpython-312.pyc
venv/Lib/site-packages/numpy/_typing/__pycache__/setup.cpython-312.pyc
venv/Lib/site-packages/numpy/_utils/__init__.py
venv/Lib/site-packages/numpy/_utils/_convertions.py
venv/Lib/site-packages/numpy/_utils/_inspect.py
venv/Lib/site-packages/numpy/_utils/_pep440.py
venv/Lib/site-packages/numpy/_utils/__pycache__/__init__.cpython-312.pyc
venv/Lib/site-packages/numpy/_utils/__pycache__/_convertions.cpython-312.pyc
venv/Lib/site-packages/numpy/_utils/__pycache__/_inspect.cpython-312.pyc
venv/Lib/site-packages/numpy/_utils/__pycache__/_pep440.cpython-312.pyc
venv/Lib/site-packages/numpy/array_api/__init__.py
venv/Lib/site-packages/numpy/array_api/_array_object.py
venv/Lib/site-packages/numpy/array_api/_constants.py
venv/Lib/site-packages/numpy/array_api/_creation_functions.py
venv/Lib/site-packages/numpy/array_api/_data_type_functions.py
venv/Lib/site-packages/numpy/array_api/_dtypes.py
venv/Lib/site-packages/numpy/array_api/_elementwise_functions.py
venv/Lib/site-packages/numpy/array_api/_indexing_functions.py
venv/Lib/site-packages/numpy/array_api/_manipulation_functions.py
venv/Lib/site-packages/numpy/array_api/_searching_functions.py
venv/Lib/site-packages/numpy/array_api/_set_functions.py
venv/Lib/site-packages/numpy/array_api/_sorting_functions.py
venv/Lib/site-packages/numpy/array_api/_statistical_functions.py
venv/Lib/site-packages/numpy/array_api/_typing.py
venv/Lib/site-packages/numpy/array_api/_utility_functions.py
venv/Lib/site-packages/numpy/array_api/linalg.py
venv/Lib/site-packages/numpy/array_api/setup.py
venv/Lib/site-packages/numpy/core/tests/test_overrides.py
venv/Lib/site-packages/numpy/core/tests/test_arrayprint.py
venv/Lib/site-packages/numpy/core/tests/test_casting_unittests.py
venv/Lib/site-packages/numpy/core/tests/test_casting_floatingpoint_errors.py
venv/Lib/site-packages/numpy/core/tests/test_conversion_utils.py
venv/Lib/site-packages/numpy/core/tests/test_cpu_dispatcher.py
venv/Lib/site-packages/numpy/core/tests/test_cpu_features.py
venv/Lib/site-packages/numpy/core/tests/test_custom_dtypes.py
venv/Lib/site-packages/numpy/core/tests/test_cython.py
venv/Lib/site-packages/numpy/core/tests/test_datetime.py
venv/Lib/site-packages/numpy/core/tests/test_defchararray.py
venv/Lib/site-packages/numpy/core/tests/test_deprecations.py
venv/Lib/site-packages/numpy/core/tests/test_dlpack.py
venv/Lib/site-packages/numpy/core/tests/test_dtype.py
venv/Lib/site-packages/numpy/core/tests/test_einsum.py
venv/Lib/site-packages/numpy/core/tests/test_extint128.py
venv/Lib/site-packages/numpy/core/tests/test_errstate.py
venv/Lib/site-packages/numpy/core/tests/test_function_base.py
venv/Lib/site-packages/numpy/core/tests/test_getlimits.py
venv/Lib/site-packages/numpy/core/tests/test_half.py
venv/Lib/site-packages/numpy/core/tests/test_hashtable.py
venv/Lib/site-packages/numpy/core/tests/test_indexing.py
venv/Lib/site-packages/numpy/core/tests/test_indexerrors.py
